*.iml
*.eml
*.ipr
*.iws
.idea
*.diff
.settings
.DS_Store
logs/*
*.sqlite*
classes/*
out
gen
target
local.properties
bin
testreport
*Log4JConfigurator*Override.java
pushforreview.sh
prepareforreview.sh
install.sh
PlayNowApp/gen-external-apklibs
KeyStore/
PlayNowApp/assets/data/irss2.dat
PlayNowApp/assets/jac_store.dat
PlayNowApp/build.properties
PlayNowApp/libs/armeabi/libcws.so
build.sh
build_activecloaked_apk.sh
PlayNowApp/assets/data/acv.dat
PlayNowApp/assets/data/irss.dat
PlayNowApp/libs/armeabi/libcws_ps.so
gen-external-apklibs
